body, html{
	margin:0;
	height:100%;
}

body{
	background-color:#f4f4f4;
	font-family:'Courier New', Courier, monospace;
}

h1{
	position: absolute;
	top: 8px;
	left:12px;
	text-align:center;
	font-size:80px;
	color:black;
}

h2{
	position:absolute;
	top:20%;
	left:30%;
	transform: translate(-50%, -10%);
	font-size:60px;
	text-align:left;
	margin:auto;
}

.background{
	position: relative;
	text-align: center;
	color:black;
}

ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

li a{
	display:block;
	width:100px;
	color:#000;
	text-decoration: none;
}

li a:hover {

	color:white;
}

nav{
	position:fixed;
	top:8px;
	right:-300px;
	padding:40px 40px;
	width:500px;
	font-size:40px;
	margin:auto;
	font-family:Tahoma, Geneva, sans-serif;
}

p{
	width:800px;
	margin-right:40%;
	position:relative;
	bottom:20%;
	left:50%
	text-align:center;
	font-size:35px;
	color:orange;
}